@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CircularStd";
  src: url(assets/fonts/CircularStd-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CircularStd";
  src: url(assets/fonts/CircularStd-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #050038;
  font-family: "CircularStd", sans-serif;
}

.for-validator {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

header .navbar-collapse {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 991px) {
  header .navbar-collapse {
    position: relative;
    top: 10px;
    background-color: #ebf1ff;
    margin: 0 -50px;
  }
}
header .navbar {
  max-width: 1340px;
  margin: 25px auto 0;
}
header .navbar .container-fluid {
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 575px) {
  header .navbar .navbar-brand img, header .navbar .navbar-brand .dbu .container.third .img-box img, .dbu .container.third .img-box header .navbar .navbar-brand img, header .navbar .navbar-brand .dbu .container.second .img-box img, .dbu .container.second .img-box header .navbar .navbar-brand img, header .navbar .navbar-brand .dbu .container.first .img-box img, .dbu .container.first .img-box header .navbar .navbar-brand img {
    width: 80px;
    margin: 0;
    z-index: -1;
  }
}
@media screen and (max-width: 350px) {
  header .navbar .navbar-brand img, header .navbar .navbar-brand .dbu .container.third .img-box img, .dbu .container.third .img-box header .navbar .navbar-brand img, header .navbar .navbar-brand .dbu .container.second .img-box img, .dbu .container.second .img-box header .navbar .navbar-brand img, header .navbar .navbar-brand .dbu .container.first .img-box img, .dbu .container.first .img-box header .navbar .navbar-brand img {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
}
header .navbar .navbar-nav {
  max-width: 525px;
  margin-right: 430px;
}
@media screen and (max-width: 1199px) {
  header .navbar .navbar-nav {
    margin-right: 400px;
  }
}
@media screen and (max-width: 991px) {
  header .navbar .navbar-nav {
    margin: auto;
  }
}
header .navbar .navbar-nav .nav-item {
  margin-right: 25.5px;
  margin-left: 25.5px;
}
header .navbar .navbar-nav .nav-item:last-child {
  margin-right: 0;
}
header .navbar .navbar-nav .nav-item .nav-link {
  margin: 0;
  color: #050038;
  font-weight: 500;
  transition: 0.5s;
}
header .navbar .navbar-nav .nav-item .nav-link:hover {
  transform: translate(0, -5px);
  transition: 0.5s;
  color: #0555ff;
}
header .navbar .navbar-nav .nav-item .nav-link.active {
  color: #0555ff;
}
header .navbar-right {
  position: absolute;
  right: 11px;
  top: 4px;
  width: 100%;
  max-width: 270px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 575px) {
  header .navbar-right {
    max-width: 170px;
    top: 8px;
  }
}
header .navbar-right__link {
  text-decoration: none;
  margin-right: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: #050038;
  transition: 0.5s;
}
header .navbar-right__link:hover {
  transform: translate(0, 5px);
  transition: 0.5s;
  color: #0555ff;
}
@media screen and (max-width: 1199px) {
  header .navbar-right__link {
    margin-right: 15px;
    padding: 0;
  }
}
@media screen and (max-width: 575px) {
  header .navbar-right__link {
    margin-right: 5px;
    font-size: 1rem;
    white-space: nowrap;
  }
}
header .navbar-right__button {
  padding-right: 25px;
  color: #ffffff;
  font-size: 1.125rem;
  width: 100%;
  max-width: 180px;
  min-height: 50px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: #0555ff;
  transition: 0.5s;
}
header .navbar-right__button:hover {
  transition: 0.5s;
  color: #0555ff;
  border: 2px solid #0555ff;
}
@media screen and (max-width: 1199px) {
  header .navbar-right__button {
    padding-right: 12px;
  }
}
@media screen and (max-width: 575px) {
  header .navbar-right__button {
    max-width: 110px;
    min-height: 30px;
    font-size: 0.875rem;
    white-space: nowrap;
  }
}
header .navbar-toggler {
  transition: 0.5s;
}
header .navbar-toggler:hover, header .navbar-toggler:focus {
  background-color: #ebf1ff;
  transition: 0.5s;
  border: 1px solid #0555ff;
  box-shadow: none;
}
@media screen and (max-width: 575px) {
  header .navbar-toggler {
    margin-right: 30px;
    margin-left: 0;
  }
}

.first {
  margin-top: 100px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .first {
    margin-top: 50px;
  }
}
@media screen and (max-width: 575px) {
  .first {
    margin-top: 10px;
  }
}
.first__title {
  max-width: 900px;
  margin: 0 auto;
  font-size: 6rem;
  font-weight: 900;
  line-height: 1.25;
  margin-bottom: 6px;
}
@media screen and (max-width: 991px) {
  .first__title {
    max-width: 500px;
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 575px) {
  .first__title {
    max-width: 300px;
    font-size: 2.25rem;
  }
}
.first__descript {
  color: #5b5e6d;
  max-width: 630px;
  margin: 0 auto;
  font-size: 1.375rem;
  line-height: 1.45;
  margin-bottom: 28px;
}
@media screen and (max-width: 991px) {
  .first__descript {
    max-width: 450px;
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 575px) {
  .first__descript {
    max-width: 350px;
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
.first__buttons .button {
  display: inline-block;
  margin: 10px;
  padding-right: 35px;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
  max-width: 208px;
  min-height: 60px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: #0555ff;
  transition: 0.5s;
}
@media screen and (max-width: 991px) {
  .first__buttons .button {
    padding-right: 12px;
    white-space: nowrap;
    font-size: 1rem;
    max-width: 150px;
    min-height: 50px;
  }
}
.first__buttons .button:hover {
  transition: 0.5s;
  color: #0555ff;
  border: 2px solid #0555ff;
  background-color: transparent;
}
.first__buttons .button--w {
  display: inline-block;
  margin: 0 7px;
  padding-right: 27px;
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
  max-width: 251px;
  min-height: 60px;
  border-radius: 30px;
  color: #0555ff;
  border: 2px solid #0555ff;
  transition: 0.5s;
}
@media screen and (max-width: 991px) {
  .first__buttons .button--w {
    padding-right: 12px;
    white-space: nowrap;
    font-size: 1rem;
    max-width: 170px;
    min-height: 50px;
  }
}
.first__buttons .button--w:hover {
  transition: 0.5s;
  color: #ffffff;
  border: 2px solid transparent;
  background-color: #0555ff;
}

.graphic {
  margin: 43px auto -43px;
}
.graphic__img-box {
  position: relative;
  width: 100%;
  max-width: 1106px;
  height: 846px;
  margin: 0 auto;
}
@media screen and (max-width: 1499px) {
  .graphic__img-box {
    left: -10px;
  }
}
.graphic__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.graphic__image::after {
  content: "";
  position: absolute;
  top: 128px;
  left: -66px;
  width: 100%;
  max-width: 131px;
  height: 539px;
  background-image: url(assets/img/left.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1399px) {
  .graphic__image::after {
    display: none;
  }
}
.graphic__image::before {
  content: "";
  position: absolute;
  top: 91px;
  right: -146px;
  width: 100%;
  max-width: 207px;
  height: 631px;
  background-image: url(assets/img/right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1399px) {
  .graphic__image::before {
    display: none;
  }
}

.slider {
  margin: 100px 0 20px;
  text-align: center;
}
.slider .slider-text {
  text-align: center;
  margin-bottom: 26px;
  font-family: "Inter", sans-serif;
}
.slider .slider-title {
  margin: 200px auto 30px;
  max-width: 895px;
  font-size: 2.625rem;
  font-weight: 700;
}
@media screen and (max-width: 991px) {
  .slider .slider-title {
    margin: 150px auto 30px;
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 575px) {
  .slider .slider-title {
    margin: 50px auto 30px;
    font-size: 1.5rem;
  }
}
.slider .slider-descript {
  max-width: 780px;
  margin: 0 auto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}
@media screen and (max-width: 991px) {
  .slider .slider-descript {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 575px) {
  .slider .slider-descript {
    font-size: 1rem;
  }
}
.slider .slider-button {
  color: #0555ff;
  font-size: 0.937rem;
  line-height: 2.13;
  position: relative;
  margin-top: 45px;
  border-radius: 30px;
  background-color: #ebf1ff;
  width: 100%;
  max-width: 245px;
  min-height: 50px;
  padding-left: 50px;
  border: 1px solid #0555ff;
  transition: 0.5s;
}
@media screen and (max-width: 575px) {
  .slider .slider-button {
    max-width: 345px;
  }
}
.slider .slider-button::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 20px;
  width: 27px;
  height: 27px;
  background-image: url(assets/img/button-img.svg);
}
.slider .slider-button:hover {
  transition: 0.5s;
  border: 1px solid #0555ff;
  background-color: #0555ff;
  color: #ffffff;
}
.slider .first-screen-slider {
  max-width: 1050px;
  margin: 0 auto;
}
.slider .first-screen-slider .slick-list {
  margin-bottom: 42px;
}
.slider .first-screen-slider .slick-list .slick-slide {
  height: 100%;
  min-height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 20px;
}
.slider .slick-dots {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.slider .slick-dots .slick-active {
  position: relative;
  top: 16px;
  width: 30px;
  height: 3px;
  border: 2px solid #050038;
}
@media screen and (max-width: 575px) {
  .slider .slick-dots .slick-active {
    background-color: #050038;
    top: 14px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}
.slider .slick-dots .slick-active button {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 3px;
}
.slider .slick-dots button {
  outline: none;
  font-size: 0rem;
  padding: 0;
  width: 30px;
  height: 3px;
  background-color: transparent;
  border: 1px solid #050038;
}
@media screen and (max-width: 575px) {
  .slider .slick-dots button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

.dbu {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
@media screen and (max-width: 1399px) {
  .dbu {
    max-width: 1200px;
  }
}
.dbu .content-box__title, .dbu .container.third .content-box__title, .dbu .container.second .content-box__title, .dbu .container.first .content-box__title {
  font-size: 4.5rem;
  font-weight: 900;
}
.dbu .content-box__descript, .dbu .container.third .content-box__descript, .dbu .container.second .content-box__descript, .dbu .container.first .content-box__descript {
  padding-top: 17px;
  padding-right: 78px;
  padding-bottom: 15px;
  color: #5b5e6d;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6;
}
.dbu .content-box__link, .dbu .container.third .content-box__link, .dbu .container.second .content-box__link, .dbu .container.first .content-box__link {
  position: relative;
  margin-left: -5px;
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;
}
.dbu .content-box__link::after, .dbu .container.third .content-box__link::after, .dbu .container.second .content-box__link::after, .dbu .container.first .content-box__link::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0555ff;
  transition: 0.5s;
}
.dbu .content-box__link:hover, .dbu .container.third .content-box__link:hover, .dbu .container.second .content-box__link:hover, .dbu .container.first .content-box__link:hover {
  transition: 0.5s;
  color: #0555ff;
}
.dbu .content-box__link:hover::after, .dbu .container.third .content-box__link:hover::after, .dbu .container.second .content-box__link:hover::after, .dbu .container.first .content-box__link:hover::after {
  transition: 0.5s;
  background-color: #050038;
}
.dbu img, .dbu .container.third .img-box img, .dbu .container.second .img-box img, .dbu .container.first .img-box img {
  width: 100%;
  transition: 0.5s;
}
.dbu img:hover, .dbu .container.third .img-box img:hover, .dbu .container.second .img-box img:hover, .dbu .container.first .img-box img:hover {
  transition: 0.5s;
  transform: scale(1.05);
}
.dbu .container.first {
  margin-bottom: 96px;
}
@media screen and (max-width: 1199px) {
  .dbu .container.first {
    max-width: 650px;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .dbu .container.first {
    margin-bottom: 10px;
  }
}
.dbu .container.first .content-box {
  margin-left: 152px;
  margin-top: 97px;
  text-align: left;
}
@media screen and (max-width: 1399px) {
  .dbu .container.first .content-box {
    margin: 120px auto 0;
    text-align: left;
  }
}
@media screen and (max-width: 1199px) {
  .dbu .container.first .content-box {
    max-width: 400px;
    margin: 100px auto 0;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .dbu .container.first .content-box {
    margin: 0 auto;
  }
}
@media screen and (max-width: 575px) {
  .dbu .container.first .content-box__title {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 1399px) {
  .dbu .container.first .content-box__descript {
    max-width: 400px;
    text-align: left;
    padding-right: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .dbu .container.first .content-box__descript {
    margin: 0 auto;
    text-align: center;
    padding-right: 0;
  }
}
@media screen and (max-width: 575px) {
  .dbu .container.first .content-box__descript {
    font-size: 1rem;
  }
}
.dbu .container.first .img-box {
  position: relative;
  width: 686px;
  margin: -11px 1px 1px -17px;
}
@media screen and (max-width: 1399px) {
  .dbu .container.first .img-box {
    margin: 12px 1px 1px -234px;
  }
}
@media screen and (max-width: 1199px) {
  .dbu .container.first .img-box {
    left: 20px;
    max-width: 100%;
    margin: 0 auto;
  }
}
.dbu .container.second {
  margin-bottom: 96px;
}
@media screen and (max-width: 1199px) {
  .dbu .container.second {
    max-width: 650px;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .dbu .container.second {
    margin-bottom: 10px;
  }
}
.dbu .container.second .content-box {
  margin-left: 87px;
  margin-top: 177px;
  text-align: left;
}
@media screen and (max-width: 1399px) {
  .dbu .container.second .content-box {
    margin-left: 170px;
    margin-top: 86px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 1199px) {
  .dbu .container.second .content-box {
    max-width: 400px;
    margin: 50px auto 0;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .dbu .container.second .content-box {
    margin: 30px auto 0;
  }
}
@media screen and (max-width: 575px) {
  .dbu .container.second .content-box {
    margin: 0 auto;
  }
}
@media screen and (max-width: 575px) {
  .dbu .container.second .content-box__title {
    font-size: 2.25rem;
  }
}
.dbu .container.second .content-box__descript {
  padding-right: 148px;
}
@media screen and (max-width: 1399px) {
  .dbu .container.second .content-box__descript {
    padding-right: 110px;
  }
}
@media screen and (max-width: 1199px) {
  .dbu .container.second .content-box__descript {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-right: 0;
  }
}
@media screen and (max-width: 575px) {
  .dbu .container.second .content-box__descript {
    font-size: 1rem;
  }
}
.dbu .container.second .img-box {
  position: relative;
  width: 657px;
  margin: 12px 1px 1px -139px;
}
@media screen and (max-width: 1399px) {
  .dbu .container.second .img-box {
    margin: 12px 1px 1px -80px;
  }
}
@media screen and (max-width: 1199px) {
  .dbu .container.second .img-box {
    right: 50px;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .dbu .container.second .img-box {
    right: 30px;
  }
}
.dbu .container.third {
  margin-bottom: 96px;
}
@media screen and (max-width: 1199px) {
  .dbu .container.third {
    max-width: 650px;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .dbu .container.third {
    margin-bottom: 10px;
  }
}
.dbu .container.third .content-box {
  margin-left: 148px;
  margin-top: 117px;
  text-align: left;
}
@media screen and (max-width: 1399px) {
  .dbu .container.third .content-box {
    margin: 120px auto 0;
    text-align: left;
  }
}
@media screen and (max-width: 1199px) {
  .dbu .container.third .content-box {
    max-width: 400px;
    margin: 50px auto 0;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .dbu .container.third .content-box {
    margin: 0 auto;
  }
}
@media screen and (max-width: 575px) {
  .dbu .container.third .content-box__title {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 1399px) {
  .dbu .container.third .content-box__descript {
    max-width: 400px;
    text-align: left;
    padding-right: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .dbu .container.third .content-box__descript {
    margin: 0 auto;
    text-align: center;
    padding-right: 0;
  }
}
@media screen and (max-width: 575px) {
  .dbu .container.third .content-box__descript {
    font-size: 1rem;
  }
}
.dbu .container.third .img-box {
  position: relative;
  margin: 16px 1px 1px -17px;
  width: 686px;
}
@media screen and (max-width: 1399px) {
  .dbu .container.third .img-box {
    margin: 12px 1px 1px -234px;
  }
}
@media screen and (max-width: 1199px) {
  .dbu .container.third .img-box {
    left: 20px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.reviews {
  background-color: #f8f8fa;
  margin: 51px auto -54px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 130px;
}
@media screen and (max-width: 575px) {
  .reviews {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.reviews__text {
  color: #5b5e6d;
  font-style: normal;
  font-weight: 400;
  line-height: 1.44;
  margin-left: -18px;
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  .reviews__text {
    font-size: 0.875rem;
  }
}
.reviews__title {
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.44;
  padding-bottom: 40px;
  margin-left: -18px;
  margin-top: -10px;
}
@media screen and (max-width: 1199px) {
  .reviews__title {
    font-size: 3.375rem;
    padding-bottom: 35px;
  }
}
@media screen and (max-width: 767px) {
  .reviews__title {
    font-size: 2.25rem;
    padding-bottom: 15px;
  }
}
.reviews .container {
  max-width: 1350px;
}
@media screen and (max-width: 1199px) {
  .reviews .container {
    padding: 0 25px;
  }
}
.reviews .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 14px auto;
  position: relative;
  width: 100%;
  max-width: 420px;
  min-height: 370px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  transition: 0.5s;
}
.reviews .card:nth-of-type(2) .reviews-card__name::after, .reviews .card:nth-of-type(3) .reviews-card__name::after, .reviews .card:nth-of-type(4) .reviews-card__name::after, .reviews .card:nth-of-type(6) .reviews-card__name::after {
  display: none;
}
.reviews .card:hover {
  z-index: 1;
  transition: 0.5s;
  transform: translate(0, -10px) scale(1.05);
  border: 1px solid #0555ff;
}
.reviews .reviews-card::after {
  position: absolute;
  content: "";
  top: 27px;
  right: 20px;
  width: 25px;
  height: 25px;
  background-image: url(assets/img/twitter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews .reviews-card__img {
  position: absolute;
  top: 18px;
  left: 18px;
}
.reviews .reviews-card__name {
  font-weight: 500;
  line-height: 1.5;
  position: absolute;
  text-align: left;
  padding-top: 18px;
  padding-left: 60px;
}
.reviews .reviews-card__name::after {
  position: absolute;
  content: "";
  top: 22px;
  right: -22px;
  width: 16px;
  height: 16px;
  background-image: url(assets/img/check.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews .reviews-card__name-fb {
  color: #596068;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  padding-top: 44px;
  padding-left: 60px;
}
.reviews .reviews-card__descript {
  text-align: left;
  padding: 9px 19px 1px 5px;
  color: #050038;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.71;
}

.footer {
  padding-top: 45px;
  margin-top: -81px;
  text-align: center;
  background-image: url(assets/img/footer-bgi.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
.footer .container {
  max-width: 1350px;
}
.footer__title {
  padding-top: 201px;
  max-width: 640px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.18;
}
.footer__title span {
  letter-spacing: 1px;
}
@media screen and (max-width: 1199px) {
  .footer__title {
    font-size: 3.375rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__title {
    max-width: 420px;
    font-size: 2.25rem;
  }
}
.footer__email {
  margin: 34px auto 1px;
  display: flex;
  width: 100%;
  max-width: 747px;
  min-height: 80px;
}
@media screen and (max-width: 1199px) {
  .footer__email {
    max-width: 547px;
    min-height: 60px;
  }
}
@media screen and (max-width: 767px) {
  .footer__email {
    max-width: 347px;
    min-height: 40px;
  }
}
.footer__email .form-control {
  padding-left: 31px;
  color: #ffffff;
  background-color: transparent;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
}
@media screen and (max-width: 575px) {
  .footer__email .form-control {
    padding-left: 15px;
  }
}
.footer__email .form-control::placeholder {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.45;
  padding-top: 14px;
  transition: 0.5s;
}
@media screen and (max-width: 1199px) {
  .footer__email .form-control::placeholder {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__email .form-control::placeholder {
    font-size: 0.875rem;
  }
}
.footer__email .form-control:hover {
  transition: 0.5s;
  box-shadow: none;
  border: 1px solid #ffffff;
}
.footer__email .form-control:hover::placeholder {
  color: #7884a6;
}
.footer__email .form-control:focus {
  transition: 0.5s;
  box-shadow: none;
}
.footer__email .form-control:focus::placeholder {
  color: transparent;
}
.footer__button {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 221px;
}
.footer__button .btn {
  border-radius: 0px 10px 10px 0px;
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
  background-color: #0555ff;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.45;
  width: 100%;
  transition: 0.5s;
}
@media screen and (max-width: 1199px) {
  .footer__button .btn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__button .btn {
    font-size: 0.875rem;
  }
}
.footer__button .btn:hover, .footer__button .btn:focus-visible {
  transition: 0.5s;
  color: #7884a6;
  box-shadow: none;
  background-color: transparent;
  border: 1px solid #ffffff;
}
.footer__button .btn:active {
  transition: 0.5s;
  color: #7884a6;
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
}
.footer .contacts {
  margin-top: 150px;
}
@media screen and (max-width: 767px) {
  .footer .contacts {
    margin-top: 50px;
  }
}
@media screen and (max-width: 575px) {
  .footer .contacts {
    margin-top: 30px;
  }
}
.footer .contacts__item {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  transition: 0.5s;
}
.footer .contacts__item:hover {
  transform: translate(5px, 0);
  transition: 0.5s;
}
.footer .contacts__item:hover .contacts__link {
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer .contacts__item {
    text-align: center;
  }
}
.footer .contacts__title {
  text-align: left;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer .contacts__title {
    text-align: center;
  }
}
.footer .contacts__link {
  transition: 0.5s;
  text-decoration: none;
  color: #7884a6;
}
.footer .contacts__icon-box {
  padding-left: 6px;
  padding-top: 11px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .footer .contacts__icon-box {
    text-align: center;
  }
}
.footer .contacts img, .footer .contacts .dbu .container.first .img-box img, .dbu .container.first .img-box .footer .contacts img, .footer .contacts .dbu .container.second .img-box img, .dbu .container.second .img-box .footer .contacts img, .footer .contacts .dbu .container.third .img-box img, .dbu .container.third .img-box .footer .contacts img {
  width: 94px;
  height: 16px;
}
.footer .spelon .contacts__title {
  padding-bottom: 33px;
  padding-left: 6px;
}
.footer .spelon .contacts__item {
  margin-top: -2px;
  margin-left: -29px;
  margin-bottom: 13px;
}
.footer .resources {
  margin-left: 11px;
}
@media screen and (max-width: 767px) {
  .footer .resources {
    display: none;
  }
}
.footer .resources .contacts__title {
  padding-top: 16px;
  padding-bottom: 20px;
}
.footer .resources .contacts__item {
  margin-left: -28px;
  margin-bottom: 18px;
}
.footer .company {
  margin-left: 68px;
}
@media screen and (max-width: 991px) {
  .footer .company {
    display: none;
  }
}
.footer .company .contacts__title {
  padding-top: 16px;
  padding-bottom: 20px;
}
.footer .company .contacts__item {
  margin-left: -30px;
  margin-bottom: 18px;
}
.footer .legal {
  margin-left: 19px;
}
@media screen and (max-width: 1199px) {
  .footer .legal {
    display: none;
  }
}
.footer .legal .contacts__title {
  padding-top: 16px;
  padding-bottom: 20px;
}
.footer .legal .contacts__item {
  margin-left: -32px;
  margin-bottom: 18px;
}
.footer__bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0937;
  height: 59px;
}
.footer__bottom span {
  padding: 20px 116px 20px 1px;
  position: relative;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.footer__bottom span::after {
  content: "";
  position: absolute;
  top: 22px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-image: url(assets/img/copyright.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1399px) {
  .footer__bottom span {
    padding: 15px;
  }
  .footer__bottom span::after {
    top: 20px;
    left: -5px;
  }
}
/*# sourceMappingURL=style.css.map */
